@model IEnumerable<CakeCastleAssignment.Models.Cake>
 
<div class="col-md-10 col-md-offset-1">
    <h2> Menu</h2>
    <hr  class="small"/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Cake Name</th>
                <th>Description</th>
                <th>Price Range</th>
                <th> Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.ActionLink("Sponge Cake", "Index", "SpongeCakes") </td>
                <td>
                    Our Sponge cake is made from flour, sugar, and eggs, and is sometimes leavened with baking powder.<br />
                    It has a firm, yet well aerated structure, with moisture.
                </td>
                <td>$140 to $180</td>
                <td><img class="img-responsive" src="~/Assets/Images/cakes0.jpg" width="80" height="80"  style="float: left" /></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Fruit Cake", "Index", "FruitCakes") </td>
                <td>
                    Fruitcake is a cake made with chopped candied fruit and/or dried fruit, nuts, and spices, and soaked in spirits.<br />
                    A cake that simply has fruit in it as an ingredient can also be colloquially called a fruit cake.
                </td>
                <td>$150 to $180</td>
                <td><img class="fancybox" src="~/Assets/Images/cakef0.jpg" width="80" height="80"  style="float: left" /></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Theme Cake", "Index", "ThemeCakes") </td>
                <td>Based on the people choice.</td>
                <td>$130 to $200</td>
                <td><img class="fancybox" src="~/Assets/Images/caket3.jpg" width="80" height="80" style="float: left" /></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Chocolate Cake", "Index", "ChocolateCakes") </td>
                <td>Chocolate cake is a cake flavored with melted chocolate, cocoa powder, or sometimes both.</td>
                <td>$150 to $200</td>
                <td><img class="fancybox" src="~/Assets/Images/cake10.jpg" width="80" height="80" style="float: left" /></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Coffee Cake", "Index", "CoffeeCakes") </td>
                <td>Our Coffee cake, is often cinnamon-flavored, with a drizzled white icing or crumb topping, and usually eaten with coffee.</td>
                <td>$100 to $150</td>
                <td><img class="fancybox" src="~/Assets/Images/cakec0.jpg" width="80" height="80" style="float: left" /></td>
            </tr>
            <tr>
                <td>@Html.ActionLink("Wedding Cake", "Index", "WeddingCakes") </td>
                <td>A wedding cake is the traditional cake served at wedding receptions following dinner.</td>
                <td>$180 to $250</td>
                <td><img class="fancybox" src="~/Assets/Images/cakew0.jpg" width="80" height="80"  style="float: left" /></td>
            </tr>
        </tbody>
    </table>
</div>