@model CakeCastleAssignment.Models.SpongeCake

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SpongeCake</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CakeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CakeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CakesDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CakesDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CakeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
