@model IEnumerable<CakeCastleAssignment.Models.WeddingCake>

<!--
File Name: Index.cshtml view for WeddingCakes Controller
Author Name: Mansi Patel(200303640) & Shweta Chavda(200326347)
Website Name: http://sweetoothcake.azurewebsites.net/
Description:  This apge contains all different types of WeddingCakes with Description and Price which is buneled in table via foreach loop.
Last updated Daate: 07/31/2016
Last updated Version: 1.0.2
-->


<div class="col-md-10 col-md-offset-1">
    <h2> Wedding Cakes</h2>
    <hr class="small" />
    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CakesDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CakesDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                 </tr>
        }
    </table>
    <br />
    <div id="backtohome" class="col-xs-6 col-md-4">
        @Html.ActionLink("Go Back to Menu Page...", "Index", "Cakes")
    </div>
    </div>

<!--Footer-->
<div class="row">
    <div class="col-md-4">
        <br /><br /><br /><br />
        <footer>
            &copy; @DateTime.Now.Year - By Mansi Patel & Shweta Chavda
        </footer>
    </div>
</div>