@model IEnumerable<CakeCastleAssignment.Models.ThemeCake>

<div class="col-md-10 col-md-offset-1">
    <h2> Theme Cakes</h2>
    <hr class="small" />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CakeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CakesDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CakeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CakesDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
            </tr>
        }

    </table>
    </div>